<div class="bg-light lter b-b wrapper-md ng-scope">
  <h1 class="m-n font-thin h3">
    Create a Project
    <span class="badge"><%= current_user.projects.count %></span>
  </h1>
  <small class="text-muted">Bootstrap components written in pure AngularJS</small>
</div>

<div class="container w-xxl w-auto-xs" >

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <%= form_for(@project) do |f| %>
    <div class="list-group list-group-sm">
      <div class="list-group-item">
        <%= f.text_field :name, class: 'form-control no-border', placeholder: 'Project Name', required: true %>
      </div>
    </div>

    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary btn-block") do %>
      <i class="fa fa-plus"></i> &nbsp;&nbsp; Create Project
    <% end %>
  <% end %>

</div>