<div class="sidebar-left sidebar-nicescroller">
    <ul class="sidebar-menu">

      <li class="static">Navigation</li>

      <li>
        <a href="#">
          <i class="fa fa-area-chart icon-sidebar text-primary-dker"></i>
          <strong>
            Dashboard
          </strong>
        </a>
      </li>

      <!-- Projects -->
      <li>
        <a href="#fakelink">
          <i class="fa fa-pie-chart icon-sidebar text-success"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          <strong>
            Projects
          </strong>
        </a>
        <ul class="submenu">
          <li>
            <%= link_to "Overview", projects_path %>
          </li>
          <li><a href="#">New Project</a></li>
        </ul>
      </li>

      <!-- Contacts -->
      <li>
        <a href="#fakelink">
          <i class="fa fa-archive icon-sidebar text-info-lter"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          <strong>
            Contacts
          </strong>
        </a>
        <ul class="submenu">
          <li><a href="#">Sent mail</a></li>
          <li><a href="#">New mail</a></li>
        </ul>
      </li>

      <li class="divider_line"></li>

      <li class="static">EXTRA DESIGNS</li>

      <li>
        <a href="#fakelink">
          <i class="fa fa-envelope icon-sidebar"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          Mail apps
          <span class="label label-danger span-sidebar">HOT</span>
        </a>
        <ul class="submenu">
          <li><a href="mail-inbox.html">Inbox <span class="badge badge-success span-sidebar">5</span></a></li>
          <li><a href="mail-send.html">Sent mail</a></li>
          <li><a href="mail-new.html">New mail</a></li>
          <li><a href="mail-contact.html">Mail contact</a></li>
          <li><a href="mail-read.html">Read mail</a></li>
          <li><a href="mail-reply.html">Reply mail</a></li>
        </ul>
      </li>
      <li>
        <a href="#fakelink">
          <i class="fa fa-shopping-cart icon-sidebar"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          Store apps
        </a>
        <ul class="submenu">
          <li><a href="store-product-list.html">Product list</a></li>
          <li><a href="store-product-column.html">Product column</a></li>
          <li><a href="store-product-masonry.html">Product masonry</a></li>
          <li><a href="store-product-detail.html">Product detail</a></li>
          <li><a href="store-shopping-cart.html">Shopping cart</a></li>
          <li><a href="store-checkout.html">Checkout</a></li>
          
          <li><a href="store-orderlist.html">Order list</a></li>
          
        </ul>
      </li>
      <li>
        <a href="#fakelink">
          <i class="fa fa-home icon-sidebar"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          Real estate apps
          </a>
        <ul class="submenu">
          <li><a href="real-estate-property-list.html">Property list</a></li>
          <li><a href="real-estate-property-column.html">Property column</a></li>
          <li><a href="real-estate-property-masonry.html">Property masonry</a></li>
          <li><a href="real-estate-property-detail.html">Property detail</a></li>
          <li><a href="real-estate-property-search.html">Search property</a></li>
        </ul>
      </li>
      <li>
        <a href="#fakelink">
          <i class="fa fa-comment icon-sidebar"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          <span class="label label-success span-sidebar">TOP</span>
          Blog apps
        </a>
        <ul class="submenu">
          <li><a href="blog-list.html">Blog list</a></li>
          <li><a href="blog-column.html">Blog column</a></li>
          <li><a href="blog-masonry.html">Blog masonry</a></li>
          <li><a href="blog-detail.html">Blog detail</a></li>
          <li><a href="blog-home.html">Featured home</a></li>
          <li><a href="blog-new.html">Add new blog</a></li>
          <li><a href="blog-comments.html">Comments</a></li>
        </ul>
      </li>
      <li>
        <a href="#fakelink">
          <i class="fa fa-users icon-sidebar"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          Social apps
        </a>
        <ul class="submenu">
          <li><a href="social-home.html">Home activity</a></li>
          <li><a href="social-my-profile.html">My profile</a></li>
          <li><a href="social-friendlist.html">Friend list <span class="badge badge-info span-sidebar">5</span></a></li>
          <li><a href="social-timeline.html">Timeline</a></li>
          <li><a href="social-photos.html">Photos</a></li>
        </ul>
      </li>
      <li>
        <a href="#fakelink">
          <i class="fa fa-heart icon-sidebar"></i>
          <i class="fa fa-angle-right chevron-icon-sidebar"></i>
          Example pages
        </a>
        <ul class="submenu">
          <li><a href="login.html">Login</a></li>
          <li><a href="lock-screen.html">Lock screen</a></li>
          <li><a href="forgot-password.html">Forgot password</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="example-pricing-table.html">Pricing table</a></li>
          <li><a href="example-invoice.html">Invoice</a></li>
          <li><a href="example-faq.html">FAQ</a></li>
          <li><a href="example-search.html">Search page</a></li>
          <li><a href="404.html">404</a></li>
          <li class="active selected"><a href="blank.html">Blank page</a></li>
        </ul>
      </li>
    
    </ul>
  </div><!-- /.sidebar-left -->